.ant-table-wrapper {
	max-width: 100%;
	overflow: auto;
}

tbody {
	background-color: #fff;
}

.ant-table-tbody > tr > td {
	text-overflow: ellipsis;
	max-width: 160px;
	overflow: hidden;
	white-space: nowrap;
}
