@media (min-height: 500px) {
	.layout {
		height: 100vh;
	}
}

.content {
	display: flex;
	justify-content: center;
	margin: 0 2em 2em;
	min-height: auto;
}

.content-wrapper {
	max-width: 1280px;
	width: 100%;
}

.footer {
	background-color: #222;
	color: white;
	text-align: center;
}
